.heading {
  display: grid;
  grid-template-columns: 60px repeat(4, 1fr) 40px;
  text-align: center;
  gap: 2px;
  background-color: gray;
  p {
    background-color: rgb(215, 233, 215);
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
  }
}

.table {
  width : 80%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  display: grid;
  gap: 2px;
  background-color: lightgray;;
  border: 2px solid grey;
}